$asideWidth: 100px; // 菜单宽度
$base-color: #70a1ff; // 主菜单背景色
$primary-color: #ed52b6; // 激活时背景色
$animation-timing: 0.3s;

%active {
  box-shadow: inset $asideWidth 0 10px $primary-color;
}

.toolbar {
  position: absolute;
  left: 0;
  top: 15vh;
  color: white;
  ul {
    display: flex;
    flex-direction: column;

    li {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      cursor: pointer;
    }

    li .item {
      width: $asideWidth;
      max-width: $asideWidth;
      overflow: hidden;
      text-align: center;
      line-height: 42px;
      color: white;
      letter-spacing: 0.2em;
      background-color: #70a1ff;
      border-bottom: 1px solid white;
      z-index: 2;
      transition: $animation-timing;
    }

    li .item:hover,
    li.active .item {
      @extend %active;
    }

    li .item-categories {
      transition: all 0.3s linear;
      transform: translateX(-300px);
      position: absolute;
      left: $asideWidth;
      top: 0;
      width: $asideWidth;
      margin-left: 5px;
      display: flex;
      flex-direction: column;
      background-color: #70a1ff;
      z-index: 1;

      & > div {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 42px;
        border-bottom: 1px solid white;
        margin-bottom: -1px;
        cursor: pointer;
        transition: $animation-timing;
      }

      & > div:hover,
      & > div.active {
        @extend %active;
      }

    }

    li.active .item-categories {
      transform: translateX(0);
    }
  }

}
